[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog

[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git